@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#root {
  max-width: 1280px;
  margin: 0 auto;
}

.App {
  font-family: 'Inter', sans-serif;
}

.container {
  max-width: 1000px;
}

input[type="number"],
input[type="text"],
select {
  @apply border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-gray-300;
}

button {
  @apply bg-gray-300 text-white px-4 py-2 rounded-md hover:bg-gray-300 transition-colors focus:outline-none focus:ring-2 focus:ring-gray-300 focus:ring-offset-2;
}

h2 {
  @apply text-3xl font-bold mb-6 text-gray-800;
}

.card {
  @apply bg-white p-6 rounded-lg shadow-md;
}

pre {
  @apply bg-gray-100 p-4 rounded-lg overflow-x-auto text-left text-sm my-4;
}

ol, ul {
  @apply list-inside text-left;
}

ol {
  @apply list-decimal;
}

ul {
  @apply list-disc;
}

